.search-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  color: var(--grey);
  background-color: var(--darkgrey);
  width: min(920px, 92%);
  margin: 0.75rem auto 1rem;
  border-radius: 12px;
  font-size: 1rem;
}

.search-flex input {
  background-color: transparent;
  width: 100%;
  font-family: 'Inter';
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 8px;
  color: var(--white);
}

.search-flex input:focus {
  outline: none;
}


@media only screen and (max-width: 768px) {
  .search-flex {
    width: 94%;
    padding: 0.5rem 0.75rem;
  }
}

